<footer>
  <div class="footer-socials">
    <div class="button">
      <a href="https://fr-fr.facebook.com/soixantequinziemesession/">
        <img src="./assets/svg/facebook.svg" alt="" class="icon"
      /></a>
    </div>
    <div class="button">
      <a href="https://www.instagram.com/75esession/"
        ><img src="./assets/svg/instagram.svg" alt="" class="icon"
      /></a>
    </div>
    <div class="button">
      <a href="https://www.youtube.com/channel/UCo1zHzOv9O6JuT-jGp_flKw"
        ><img src="./assets/svg/youtube.svg" alt="" class="icon"
      /></a>
    </div>
  </div>
  <div class="copyright">© 75e session, tous droits réservés</div>
</footer>
