* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url("../img/red-cursor.svg") 33.5 33.5, auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  font-family: "Chapman";
  font-weight: 400;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

/* Style de la navigation et hover */
nav {
  width: 100vw;
  height: 52px;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 300px;
  background-color: white;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  padding: 5px 0;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: red;
}

.nav-link:hover::after {
  width: 100%;
}

/* Paramètres de la vidéos */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.5);
  z-index: -1; /* passe derrière le contenu */
}
