* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  font-family: "Chapman";
  font-weight: 400;
}

nav {
  width: 100vw;
  height: 52px;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: red;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
