* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  font-family: "Chapman";
  font-size: 18px;
  font-weight: 400;
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  background: url("../assets/img/bg.png");
  background-color: black;
  overflow: hidden;
  text-transform: uppercase;
}

/*----------------------------------------------------------------
NAVIGATION ET HOVER
----------------------------------------------------------------*/

nav {
  width: 100vw;
  height: 52px;
  margin-top: 30px;
  padding: 0 100px 0 30px;
  background-color: white;
  font-family: "montserrat", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 27.3px 0 rgba(0, 0, 0, 0.62);
}

.nav-container {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  padding: 5px 0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: red;
}

.nav-link:hover::after {
  width: 100%;
}

.logo {
  width: 45px;
  height: 45px;
}

/*----------------------------------------------------------------
 BACKGROUND VIDEO
 ----------------------------------------------------------------*/

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: scale(1.5);
  z-index: -1;
}

/*----------------------------------------------------------------
LABEL TITRE ET HOVER
----------------------------------------------------------------*/

.label {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1200ms ease;
}

.label:hover {
  transform: translate(-50%, -50%) scale(1.5);
}

/*----------------------------------------------------------------
FOOTER 
----------------------------------------------------------------*/

footer {
  color: white;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: fixed;
  top: 95%;
  margin-bottom: 30px;
  padding: 0px 30px;
  width: 100vw;
  font-family: "montserrat", sans-serif;
  font-size: 12px;
  font-weight: 200;
}

.footer-socials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

/* ----------------------------------------------------------------
GESTION DES ICONS DES RESEAUX 
----------------------------------------------------------------*/

.button {
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.footer-socials .button {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}

.footer-socials .icon,
.icon {
  width: 25px;
  height: 25px;
  transition: 500ms ease;
  margin: 5px;
}

.icon:hover {
  transform: scale(1.3);
}

/* ----------------------------------------------------------------
LISTE DES ARTISTES ET HOVER 
----------------------------------------------------------------*/

.artists-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 51px;
  width: 100%;
  height: calc(100vh - 138px);
  overflow-y: auto;
  z-index: 0;
  scroll-behavior: smooth;
}

.separator {
  width: 100%;
  height: auto;
  display: block;
}

.artist-link {
  background: transparent;
  position: relative;
}

.artist-link:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 0px;
  width: 100%;
  background: red;
  display: block;
  transition: 500ms ease;
}

.artist-link:hover:before {
  top: 0%;
  height: 100%;
}

.artist-name {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 84px;
  font-style: italic;
  font-weight: 600;
  padding: 33px 0px 33px 118px;
  transition: 300ms ease;
}

.artist-name:hover {
  font-size: 112px;
  padding: 15px 0px 16px 118px;
}

.artists-container::-webkit-scrollbar {
  display: none;
}

/* ----------------------------------------------------------------
GESTION DE L'IMAGE DE L'ARTISTE EN HOVER
---------------------------------------------------------------- */

.bg-hover {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 30%;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

/* ----------------------------------------------------------------
GESTION DU TICKER
---------------------------------------------------------------- */

.ticker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: 10px;
  padding: 33px 0 33px 0;
  background-color: red;
  font-size: 84px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: white;
}

.ticker {
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-114%);
  }
}

/* ----------------------------------------------------------------
GESTION DU CONTENU DE L'ARTISTE
----------------------------------------------------------------*/

.artist-content {
  display: flex;
  gap: 10px;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  color: white;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  margin: 10px 0 10px 30px;
}

.artist-content::-webkit-scrollbar {
  display: none;
}

.artist-texts,
.artist-description,
.artist-news,
.last-releases,
.next-concert,
.socials-listen,
.socials-contact,
.socials,
.album {
  display: flex;
  flex-direction: column;
  width: 625px;
}

.artist-texts {
  justify-content: space-between;
  height: 500px;
}

.artist-description {
  gap: 10px;
  color: var(--white, #fcfcfc);
  font-family: Montserrat;
  font-size: var(--text-p, 20px);
  font-weight: 600;
  line-height: 126.826%;
  font-variant: all-small-caps;
}

.artist-news {
  gap: 25px;
  flex-direction: column;
}

.last-releases,
.next-concert {
  gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.socials,
.socials-listen,
.socials-contact {
  flex-direction: row;
  gap: 10px;
}

.socials-listen {
  justify-content: start;
}

.socials-contact {
  justify-content: end;
}

.album {
  gap: 10px;
  align-items: center;
}

.artist-img {
  width: 500px;
  height: 500px;
}

/* ----------------------------------------------------------------
GESTION DU BUTTON POUR ECOUTER L'ALBUM
----------------------------------------------------------------*/

.button-text {
  position: relative;
  padding: 8px 16px;
  transition: 500ms ease;
}

.button-text:hover {
  transform: scale(1.1);
}

.button:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 0px;
  width: 100%;
  display: block;
  background: red;
  transition: 500ms ease;
  z-index: -1;
}

.button:hover:before {
  top: 0%;
  height: 100%;
}

/* ----------------------------------------------------------------
MEDIA QUERIES POUR LE RESPONSIVE DESIGN
----------------------------------------------------------------*/
@media (max-width: 601px) {
  body {
    font-size: 12px;
    overflow: auto;
  }

  nav {
    width: 100vw;
    height: 26px;
    margin-top: 15px;
    padding: 0 50px 0 15px;
    font-size: 8px;
  }

  .nav-container {
    gap: 10px;
  }

  .logo {
    width: 20px;
    height: 20px;
  }

  .label {
    width: 50%;
    height: 50%;
  }

  footer {
    position: relative;
    margin-bottom: 15px;
    padding: 30px 30px;
    font-size: 8px;
    flex: 1;
  }

  .footer-socials {
    gap: 13px;
  }

  .footer-socials .icon,
  .icon {
    width: 12.5px;
    height: 12.5px;
    margin: 2.5px;
  }

  .artist-name {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 16px 0px 16px 59px;
  }

  .artist-name:hover {
    font-size: 32px;
    padding: 7.5px 0px 8px 59px;
  }

  .bg-hover {
    position: fixed;
    top: 25%;
    width: 30%;
  }

  .ticker-container {
    gap: 30px;
    margin-top: 5px;
    padding: 16px 0 16px 0;
    font-size: 42px;
  }

  /* ------ */

  .artist-content {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin: 5px 0 5px 15px;
    width: 90%;
  }

  .artist-texts,
  .artist-description,
  .artist-news,
  .last-releases,
  .next-concert,
  .socials-listen,
  .socials-contact,
  .socials,
  .album {
    width: 100%;
  }

  .artist-texts {
    height: 400px;
    width: 75vw;
  }

  .artist-description {
    font-size: 15px;
    text-align: center;
  }

  .artist-news {
    gap: 12px;
    flex-direction: column;
  }

  .last-releases,
  .next-concert {
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }

  .album {
    gap: 15px;
  }

  .artist-img {
    width: 250px;
    height: 250px;
  }
}
