* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  font-family: "Chapman";
  font-weight: 400;
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  background: url("../assets/img/bg.png");
  background-color: black;
  overflow: hidden;
}

/* Style de la navigation et hover */
nav {
  width: 100vw;
  height: 52px;
  margin-top: 30px;
  padding-left: 30px;
  padding-right: 300px;
  background-color: white;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 27.3px 0 rgba(0, 0, 0, 0.62);
}

.nav-container {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  overflow: auto;
}

.nav-link {
  position: relative;
  padding: 5px 0;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: red;
}

.nav-link:hover::after {
  width: 100%;
}

/* Paramètres de la vidéo de fond */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: scale(1.5);
  z-index: -1; /* passe derrière le contenu */
}

.label {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1200ms ease;
}

.label:hover {
  transform: translate(-50%, -50%) scale(1.5);
}

footer {
  width: 100vw;
  margin-bottom: 30px;
  position: fixed;
  top: 95%;
  padding: 0px 30px;
  color: white;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer-socials {
  position: relative;
  display: flex;
  gap: 27px;
  justify-content: center;
  align-items: center;
}

.footer-socials img {
  width: 150%;
  height: 150%;
}

.artists-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-bottom: 51px;
  width: 100%;
  height: calc(100vh - 138px);
  overflow-y: auto;
  z-index: 0;
  scroll-behavior: smooth;
}

.separator {
  width: 100%;
  height: auto;
  display: block;
}

.artist-link {
  background: transparent;
  position: relative;
}

.artist-link:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 0px;
  width: 100%;
  background: red;
  display: block;
  transition: 500ms ease;
}

.artist-link:hover:before {
  top: 0%;
  height: 100%;
}

.artist-name {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 84px;
  font-style: italic;
  font-weight: 600;
  padding: 33px 0px 33px 118px;
  transition: 300ms ease;
}

.artist-name:hover {
  font-size: 112px;
  padding: 15px 0px 16px 118px;
}

.artists-container::-webkit-scrollbar {
  display: none;
}

.bg-hover {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  width: 30%;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
}

.ticker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: 10px;
  padding: 33px 0 33px 0;
  background-color: red;
  font-size: 84px;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  color: white;
}

.ticker {
  animation: scroll-left 10s linear infinite;
}

p {
  color: white;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-114%);
  }
}

.artist-content {
  display: flex;
  gap: 10px;
  position: relative;
  overflow-x: auto;
  scroll-behavior: smooth;
  color: white;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  margin: 10px 0 10px 30px;
}

.artist-content::-webkit-scrollbar {
  display: none;
}

.artist-texts {
  display: flex;
  width: 625px;
  flex-direction: column;
  align-items: flex-start;
  gap: 47px;
  flex-shrink: 0;
}

.artist-img {
  width: 500px;
  height: 500px;
}

.socials,
.artist-description,
.socials-contact,
.socials-listen,
.album {
  display: flex;
  gap: 10px;
}

.album {
  flex-direction: column;
  align-items: center;
  width: 512.039px;
  gap: 4px;
  flex-shrink: 0;
}

.artist-description {
  flex-direction: column;
  color: var(--white, #fcfcfc);
  font-family: Montserrat;
  font-size: var(--text-p, 20px);
  font-weight: 600;
  line-height: 126.826%;
  font-variant: all-small-caps;
}

.socials img {
  width: 25px;
}

.socials {
  width: 600px;
  justify-content: space-between;
}

.socials-contact {
  position: relative;
}
.button {
  position: relative;
  z-index: 0;
}

.footer-socials .button {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}

.footer-socials .icon,
.icon {
  width: 25px;
  height: 25px;
  transition: 500ms ease;
  margin: 5px;
}

.button-text {
  position: relative;
  padding: 8px 16px;
  transition: 500ms ease;
}

.button-text:hover {
  transform: scale(1.1);
}

.button:before {
  content: "";
  position: absolute;
  top: 50%;
  height: 0px;
  width: 100%;
  display: block;
  color: white;
  background: red;
  transition: 500ms ease;
  z-index: -1;
}

.button:hover:before {
  top: 0%;
  height: 100%;
}

.artist-texts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.icon:hover {
  transform: scale(1.3);
}
