* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: url("../assets/svg/red-cursor.svg") 25 25, auto;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
}

body {
  font-family: "Chapman";
  font-weight: 400;
  background-color: black;
  max-width: 100vw;
  max-height: 100vh;
  margin: 30px 0px;
  background: url("../assets/img/bg.png");
  background-color: black;
}

/* Style de la navigation et hover */
nav {
  width: 100vw;
  height: 52px;
  padding-left: 30px;
  padding-right: 300px;
  background-color: white;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: inline-flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  padding: 5px 0;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: red;
}

.nav-link:hover::after {
  width: 100%;
}

/* Paramètres de la vidéo de fond */
#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: scale(1.5);
  z-index: -1; /* passe derrière le contenu */
}

.label {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1200ms ease;
}

.label:hover {
  transform: translate(-50%, -50%) scale(1.5);
}

footer {
  width: 100vw;
  position: fixed;
  top: 95%;
  padding: 0px 30px;
  color: white;
  font-family: "montserrat", sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer-socials {
  display: flex;
  gap: 27px;
  justify-content: center;
  align-items: center;
}

.footer-socials img {
  width: 150%;
  height: 150%;
}
